<ngx-audio-player #player (trackEnded)="onEnded($event)" [autoPlay]="false"
            [displayPlaylist]="msaapDisplayPlayList" [tableHeader]="msaapTableHeader" [titleHeader]="msaapTitleHeader"
            [artistHeader]="msaapArtistHeader" [durationHeader]="msaapDurationHeader" [displayTitle]="msaapDisplayTitle"
            [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls" 
            [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist" 
            [displayDuration]="msaapDisplayDuration" [expanded]="true"
            [pageSizeOptions]="pageSizeOptions" [playlist]="msaapPlaylist">
          </ngx-audio-player>